* { 
    text-align: center; 
    width: 300px;
}

body { background-color: grey; }

select, input { 
    width: 100%; 
    padding: 5px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;
    vertical-align: middle;
    font-size: 36;
    text-decoration: none;
    color: initial;
}

select.course { display: none}

div.fees { background-color: white }

body.register { width: 800px }

table { 
    width: 100%;
    background-color: white;
}

td.desc  { width: 30%; }
td.desc th.desc { font-weight: bold; }


